*{
	margin:0;
	padding:5px;
	box-sizing:border-box;
}
body {
	background:rgba(255,140,0,0.6);
	min-width:400px;

	color:black;
	font-size:16px;
	font-family:verdana;
}
#avila{
	background:rgba(246,85,7,0.5);
	flex-wrap:wrap;
	height:99%;
	max-height:550px;
	min-width:300px;
	width:75%;
	padding:8px;
	position:relative;
	
}
#jeisson{
	background:rgba(246,85,7,0.8);
		background-attachment:fixed;
	background-repeat:fixed;
	background-position:fixed;

	width:400px;
	height:;
	border:2px solid black;
}
#jeisson h1 {
	background:rgba(0,255,0,0.8);
		background-attachment:fixed;
	background-repeat:fixed;
	background-position:fixed;

	width:80%;	
	height:10%;
	border:2px solid black;
	color:rgba(119,136,153);
}
#jeisson h2 {
	background:rgba(224,255,255,0.8);
		background-attachment:fixed;
	background-repeat:fixed;
	background-position:fixed;

	width:80%;
	height:10%;
	margin:4px;
	border:2px solid black;
	color:rgba(119,136,153);
}
#avila h3{
	background:rgba(240,128,128,.9);
		background-attachment:fixed;
	background-repeat:fixed;
	background-position:fixed;

	margin:10px;
	padding:;
	height:72%;
	width:90%;
	position:relative;
	right:;
	color:white;
	font-family:verdana;
	font-size:20px;
	border:1px  solid black;
}
#muñoz h4{
   background:rgba(0,255,0,.8);
   padding:3px;
   margin:3px;
   border:1px solid  black;
   font-size:21px;
   width:100%;
   position:relative;
   right:-0px;
}	
#edgar{
	position:relative;
	right:190px;
	top:40px;
	width:;
	height:;
}
#yeison{
	position:relative;
	right:;
	left:200px;
	top:-217px;
	width:;
	height:;
}
#sofia{
	position:relative;
	top:-205;
	left:200;
}

h6{
	background:rgba(246,58,7,.7);
	margin:15px;
	padding:2px;
	font-size:28px;
	width:;
}
p {
	background:rgba(255,175,0,.6);
	font-size:22px;
	font-family:verdana;
	color:black;
	text-align:;
	margin:20px;
}
a{
	background:black;
	color:white;
	position:relative;
	top:15px;
	left:;
	margin:80px;
	text-decoration:none;

}
a:hover{
	background:white;
	color:black;
	
}
a:active{
	background:black;
	color:red;
}